body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}


body {
    background-color: #f8f9fa;
}

.card {
    border: 1px solid #ddd;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.progress-bar {
    background-color: #007bff;
}
